@using Orchard.ContentManagement
@using Lombiq.EditorGroups.Constants
@using Lombiq.EditorGroups.Models

@{
    var contentItem = Model.ContentItem as ContentItem;
    var editorGroupsPart = contentItem?.As<EditorGroupsPart>();

    if (!(editorGroupsPart?.AsyncEditorContext ?? false))
    {
        return;
    }

    const string BlockName = "asyncEditorActions";
    const string PagerElementName = BlockName + "__pager";
    const string NavigationButtonsElementName = BlockName + "__navigationButtons";
    const string SaveButtonElementName = BlockName + "__saveButton";
    const string PublishButtonElementName = BlockName + "__publishButton";
    const string NextButtonElementName = BlockName + "__nextButton";
    const string PreviousButtonElementName = BlockName + "__previousButton";
}

<div class="@BlockName">
    <div class="@PagerElementName">
        @Display.AsyncEditor_Pager(ContentItem: contentItem)
    </div>
    <div class="@NavigationButtonsElementName">
        <input type="submit" name="submit.Save" class="btn button @SaveButtonElementName" value="@T("Save")" />
        <input type="submit" name="submit.SaveAndNext" class="btn button @NextButtonElementName" value="@T("Next")" />
    </div>
</div>