@using Orchard.ContentManagement
@using Lombiq.ContentEditors.Constants
@using Lombiq.ContentEditors.Models

@{
    var contentItem = Model.ContentItem as ContentItem;
    var asyncEditorPart = contentItem?.As<AsyncEditorPart>();

    if (!(asyncEditorPart?.IsAsyncEditorContext ?? false) || !asyncEditorPart.HasEditorGroups
        || asyncEditorPart.PreviousAuthorizedEditorGroup == null)
    {
        return;
    }

    var previousAuthorizedEditorGroupName = asyncEditorPart.PreviousAuthorizedEditorGroup.Name;
}

@if (asyncEditorPart.PreviousAuthorizedEditorGroup != null)
{
    <span data-editorGroupName="@previousAuthorizedEditorGroupName" title="@T("Go back to {0}", previousAuthorizedEditorGroupName)"
          class="@ElementNames.AsyncEditorSubmitActions.ActionElementName @ElementNames.AsyncEditorSubmitActions.PreviousActionElementName js-@ElementNames.AsyncEditorActions.LoadEditorElementName">
        @(Model.ActionText as string ?? T("Back").Text)
    </span>
}