@using Orchard.ContentManagement
@using Lombiq.ContentEditors.Constants
@using Lombiq.ContentEditors.Models

@{
    var asyncEditorPart = (Model.ContentItem as ContentItem).AsAsyncEditorPart();
    var previousAuthorizedEditorGroup = asyncEditorPart.GetPreviousGroupDescriptor(asyncEditorPart.CurrentEditorGroup?.Name, true);

    if (!(asyncEditorPart?.IsAsyncEditorContext ?? false) ||
        !asyncEditorPart.HasEditorGroups ||
        previousAuthorizedEditorGroup == null)
    {
        return;
    }
}

<span data-editorGroupName="@previousAuthorizedEditorGroup.Name" title="@T("Go back to {0}", previousAuthorizedEditorGroup.Name)"
      class="@ElementNames.AsyncEditorSubmitActions.ActionElementName @ElementNames.AsyncEditorSubmitActions.PreviousActionElementName js-@ElementNames.AsyncEditorActions.LoadEditorElementName">
    @(Model.ActionText as string ?? T("Back").Text)
</span>