@using Orchard.ContentManagement
@using Lombiq.EditorGroups.Constants
@using Lombiq.EditorGroups.Models

@{
    var contentItem = Model.ContentItem as ContentItem;
    var editorGroupsPart = contentItem?.As<EditorGroupsPart>();

    if (!(editorGroupsPart?.AsyncEditorContext ?? false))
    {
        return;
    }

    const string BlockName = ElementNames.AsyncEditorPager.BlockName;
    const string ListElementName = BlockName + "__list";
    const string ListItemElementName = BlockName + "__listItem";
    const string EditorGroupNameElementName = BlockName + "__groupName";
    const string EditorGroupNameElementNameWithCurrentModifier = EditorGroupNameElementName + "_current";
    const string EditorGroupNameElementNameWithCompleteModifier = EditorGroupNameElementName + "_complete";
    const string EditorGroupNameElementNameWithIncompleteModifier = EditorGroupNameElementName + "_incomplete";
}

<div class="@BlockName">
    <ol class="@ListElementName">
        @foreach (var editorGroup in editorGroupsPart.AuthorizedEditorGroups)
        {
            <li class="@ListItemElementName">
                @if (editorGroup == editorGroupsPart.CurrentEditorGroup)
                {
                    <div class="@EditorGroupNameElementName @EditorGroupNameElementNameWithCurrentModifier">
                        @editorGroup.Title
                    </div>
                }
                else if (!editorGroupsPart.CompleteEditorGroupNames.Contains(editorGroup.Name))
                {
                    <div class="@EditorGroupNameElementName @EditorGroupNameElementNameWithIncompleteModifier">
                        @editorGroup.Title
                    </div>
                }
                else
                {
                    <div class="@EditorGroupNameElementName @EditorGroupNameElementNameWithCompleteModifier js-@ElementNames.AsyncEditorActions.LoadEditorElementName"
                         data-editorGroupName="@editorGroup.Name">
                        @editorGroup.Title
                    </div>
                }
            </li>
        }
    </ol>
</div>