@using Orchard.ContentManagement
@using Lombiq.ContentEditors.Models

@{
    var asyncEditorPart = (Model.ContentItem as ContentItem).AsAsyncEditorPart();

    if (!(asyncEditorPart?.IsAsyncEditorContext ?? false))
    {
        return;
    }

    const string BlockName = "asyncContentItemEditor";
    const string ContentZoneElementName = BlockName + "__contentZone";
    const string ActionsZoneElementName = BlockName + "__actionsZone";
    const string SidebarZoneElementName = BlockName + "__sidebarZone";
}

<div class="@BlockName">
    @if (Model.Content != null)
    {
        <div class="@ContentZoneElementName">
            @Display(Model.Content)
        </div>
    }
    @if (Model.Actions != null)
    {
        <div class="@ActionsZoneElementName">
            @Display(Model.Actions)
        </div>
    }
    @if (Model.Sidebar != null)
    {
        <div class="@SidebarZoneElementName">
            @Display(Model.Sidebar)
        </div>
    }
</div>