@using Lombiq.ContentEditors.Constants
@using Lombiq.ContentEditors.ViewModels

@{
    var viewModel = Model.ViewModel as CheckboxListEditorViewModel;

    if (!viewModel.ShowIfEmpty && (!viewModel?.Items?.Any() ?? true)) { return; }

    Script.Require(ResourceNames.Lombiq_CheckboxListEditor);

    const string CheckboxListEditorDefaultBlockName = "checkboxListEditor";
    var CheckboxListEditorBlockName = viewModel.BlockName ?? CheckboxListEditorDefaultBlockName;
    var TechnicalNameBlockName = viewModel.TechnicalName;

    var FilterRelationshipTechnicalName = $"{TechnicalNameBlockName}Relationship";
    var FilterRelationshipsContainerElementName = CheckboxListEditorBlockName + "__filterRelationshipsContainer";
    var FilterRelationshipContainerElementName = CheckboxListEditorBlockName + "__filterRelationshipContainer";
    var FilterRelationshipElementName = CheckboxListEditorBlockName + "__filterRelationship";
    var FilterRelationshipLabelElementName = CheckboxListEditorBlockName + "__filterRelationshipLabel";
    var selectedFilterRelationship = Enum.TryParse(Request.QueryString[FilterRelationshipTechnicalName], out FilterRelationship filterRelationship) ?
        filterRelationship : FilterRelationship.Or;

    var LabelElementName = CheckboxListEditorBlockName + "__label";
    var TechnicalLabelElementName = TechnicalNameBlockName + "__label";
    var ExpandableLabelElementName = LabelElementName + "__expandable";
    var ExpandableLabelElementNameWithOpenedModifier = ExpandableLabelElementName + "_open";
    var ExpandableContainerElementName = CheckboxListEditorBlockName + "__expandableContainer";
    var TechnicalExpandableContainerElementName = TechnicalNameBlockName + "__expandableContainer";
    var ValueElementName = CheckboxListEditorBlockName + "__value";
    var ControlGroupElementName = CheckboxListEditorBlockName + "__controlGroup";
    var SearchFilterElementName = CheckboxListEditorBlockName + "__searchFilter";
    var SearchFilterContainerElementName = CheckboxListEditorBlockName + "__searchFilterContainer";
    var GlyphiconElementName = CheckboxListEditorBlockName + "__glyphicon";
    var CheckboxItemElementName = CheckboxListEditorBlockName + "__item";
    var CheckboxSelectAllItemElementName = CheckboxListEditorBlockName + "__selectAllItem";


    const string CheckboxContainerBlockName = "checkboxContainer";
    const string SelectAllElementName = CheckboxContainerBlockName + "__selectAllElementName";
    const string CheckboxInputElementName = CheckboxContainerBlockName + "__input";
    const string CheckboxIndicatorElementName = CheckboxContainerBlockName + "__indicator";

    var expandableContainerDiv = Tag(Model, "div");
    expandableContainerDiv.AddCssClass(ExpandableContainerElementName);
    expandableContainerDiv.AddCssClass($"js-{TechnicalExpandableContainerElementName}");

    if (viewModel.IsCollapsedByDefault)
    {
        expandableContainerDiv.AddCssClass("hidden");
    }

    var labelClasses = LabelElementName;
    if (viewModel.IsExpandable)
    {
        labelClasses += $" {ExpandableLabelElementName} js-{TechnicalLabelElementName}";
        if (!(viewModel.IsCollapsedByDefault))
        {
            labelClasses += $" {ExpandableLabelElementNameWithOpenedModifier}";
        }
    }
}

@Display.Lombiq_Editors_CheckboxListEditor_Resources()

<div id="@TechnicalNameBlockName" class="@CheckboxListEditorBlockName @TechnicalNameBlockName @viewModel.AdditionalClasses @if (CheckboxListEditorBlockName != CheckboxListEditorDefaultBlockName) { <text>@CheckboxListEditorDefaultBlockName</text> }">
    @if (!string.IsNullOrEmpty(viewModel.Label))
    {
        <div class="@labelClasses">@viewModel.Label</div>
    }

    @if (viewModel.IsExpandable)
    {
        @expandableContainerDiv.StartElement
    }
    @if (viewModel.IsFilterRelationShipSelectorEnabled && viewModel.EnabledFilterRelationShips.Any())
    {
        <div class="@FilterRelationshipsContainerElementName">
            @foreach (var relationship in viewModel.EnabledFilterRelationShips)
            {
                <div class="@FilterRelationshipContainerElementName">
                    <input @if (relationship == selectedFilterRelationship) { <text>checked</text> }
                        type="radio" id="@(FilterRelationshipTechnicalName)_@(relationship)"
                        name="@FilterRelationshipTechnicalName" class="@FilterRelationshipElementName"
                        value="@if (relationship != FilterRelationship.Or) { @relationship }" />
                    <label for="@(FilterRelationshipTechnicalName)_@(relationship)" class="@FilterRelationshipLabelElementName">@relationship</label>
                </div>
            }
        </div>
    }
    @if (viewModel.IsSearchEnabled)
    {
        <div class="@SearchFilterContainerElementName js-@SearchFilterContainerElementName">
            <i class="js-@GlyphiconElementName glyphicon glyphicon-search @GlyphiconElementName"></i>
            <input type="text" class="@SearchFilterElementName js-@SearchFilterElementName" />
        </div>
    }
    <div class="@ControlGroupElementName js-@ControlGroupElementName">

        @if (viewModel.EnableSelectAll && viewModel.Items.Skip(1).Any())
        {
            <label class="@CheckboxItemElementName @CheckboxContainerBlockName @CheckboxSelectAllItemElementName js-@SelectAllElementName">
                @T("Select All")
                <input type="checkbox" class="@CheckboxInputElementName @SelectAllElementName" checked="@viewModel.Items.All(item => item.Checked)" hidden />
                <span class="@CheckboxIndicatorElementName"></span>
            </label>
        }

        @foreach (var item in viewModel.Items)
        {
            <label class="@CheckboxItemElementName @CheckboxContainerBlockName js-@CheckboxContainerBlockName">
                @item.Label
                <input type="checkbox" class="js-@CheckboxInputElementName @CheckboxInputElementName" name="@TechnicalNameBlockName"
                       value="@item.Value" @if (item.Checked) { <text>checked</text> } hidden />
                <span class="@CheckboxIndicatorElementName"></span>
            </label>
        }
    </div>
    @if (viewModel.IsExpandable)
    {
        @expandableContainerDiv.EndElement
    }
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        ; (function ($) {
            $(function () {
                $("#@TechnicalNameBlockName").lombiq_CheckboxListEditor({
                    @if (viewModel.IsSearchEnabled)
                    {
                    <text>searchFilterElementClass: ".js-@SearchFilterElementName",
                    searchFilterContainerElementClass: ".js-@SearchFilterContainerElementName",</text>
                    }
                    controlGroupElementClass: ".js-@ControlGroupElementName",
                    checkboxContainerSelector: ".js-@CheckboxContainerBlockName",
                    checkboxInputElementClass: ".js-@CheckboxInputElementName",
                    inputCheckboxInputElementSelector: "input.@CheckboxInputElementName",
                    checkboxSelectAllItemElementClass: ".@CheckboxSelectAllItemElementName",
                    selectAllElementClass: ".@SelectAllElementName",
                    inputSelectAllElementSelector: "input.@SelectAllElementName",
                    checkboxItemElementClass: ".@CheckboxItemElementName"
                });
            });

            @if (viewModel.IsExpandable)
            {
                <text>
                    $(".js-@TechnicalLabelElementName").click(function (e) {
                        $(this).toggleClass("@ExpandableLabelElementNameWithOpenedModifier");
                        $(this).next(".js-@TechnicalExpandableContainerElementName").slideToggle("fast").removeClass("hidden");
                    });
                </text>
            }
        })(jQuery);
    </script>
}