@using Lombiq.ContentEditors.ViewModels
@using Lombiq.ContentEditors.Constants
@using Orchard.Services

@{
    Script.Require(ResourceNames.Lombiq_SelectizeEditor).AtHead();
    Style.Require(ResourceNames.Selectize).AtHead();

    var viewModel = Model.ViewModel as DropdownEditorViewModel;

    if (!viewModel?.SelectList?.Any() ?? true) { return; }

    const string DefaultBlockName = "selectizeDropdownEditor";
    string BlockName = viewModel.BlockName ?? DefaultBlockName;
    const string TextBoxElementName = DefaultBlockName + "__textbox";
    string TechnicalNameModifier = string.IsNullOrEmpty(viewModel.TechnicalName) ? "" : "_" + viewModel.TechnicalName.Replace('.', '_');

    var selectizeInputId = $"{DefaultBlockName}__SelectizeInput{TechnicalNameModifier}";
    var hiddenInputIdPrefix = $"{(viewModel.Name ?? BlockName).Replace('.', '_')}_Options";

    var attributes = viewModel.BuildAttributes(new Dictionary<string, object>
    {
        { "class", TextBoxElementName },
        { "id", selectizeInputId }
    });

    var labelAttributes = new Dictionary<string, object>
    {
        { "class", "editorLabel textboxEditor__label " + DefaultBlockName + "__label" },
        { "for", selectizeInputId }
    };

    if (viewModel.Disabled)
    {
        attributes["disabled"] = "disabled";
    }

    if (!string.IsNullOrEmpty(viewModel.Placeholder))
    {
        attributes.Add("placeholder", viewModel.Placeholder);
    }

    if (viewModel.Required)
    {
        labelAttributes["class"] += " required";
        attributes["required"] = "";
    }

    viewModel.SortSelectListByText();

    var jsonConverter = WorkContext.Resolve<IJsonConverter>();
    var availableSelectListItems = viewModel.SelectList.Select(option => new { option.Text, option.Value });
    var selectedSelectListItems = viewModel.SelectList.Where(option => option.Selected).Select(option => new { option.Text, option.Value });
    var selectedValues = selectedSelectListItems.Select(option => option.Value);
}

<div class="editor editorField form-group @DefaultBlockName @BlockName">
    @if (!string.IsNullOrEmpty(viewModel.Label))
    {
        @Html.Label(viewModel.Label, labelAttributes)
    }

    @Html.TextBox(viewModel.TechnicalName, "", attributes)

    <div hidden id="@(hiddenInputIdPrefix)_SpecialValues">
        @if (!string.IsNullOrEmpty(viewModel.NoneValueId))
        {
            <input type="hidden" id="@($"{hiddenInputIdPrefix}_NoneValue_Selected")"
                   value="@selectedValues.Contains(viewModel.NoneValueId).ToString().ToLowerInvariant()" />
        }

        @if (!string.IsNullOrEmpty(viewModel.OtherValueId))
        {
            <input type="hidden" id="@($"{hiddenInputIdPrefix}_OtherValue_Selected")"
                   value="@selectedValues.Contains(viewModel.OtherValueId).ToString().ToLowerInvariant()" />
        }
    </div>
</div>

<script type="text/javascript">
    ; (function ($) {
        $(function () {
            $("#@selectizeInputId").lombiq_SelectizeEditor({
                singleChoice: @viewModel.SingleChoice.ToString().ToLower(),
                selectizeOptions: JSON.parse(@Html.Raw(Json.Encode(jsonConverter.Serialize(availableSelectListItems)))),
                selectizeSelectedOptions: JSON.parse(@Html.Raw(Json.Encode(jsonConverter.Serialize(selectedSelectListItems))))
            });

            $("#@selectizeInputId").change(function () {
                var valueString = $(this).val();
                var valueList = valueString.length > 0 ? valueString.split(",") : new Array();

            @if (!string.IsNullOrEmpty(viewModel.NoneValueId))
            {
                <text>
                var noneValueSelectedElement = $("#@(hiddenInputIdPrefix)_NoneValue_Selected");
                noneValueSelectedElement.val(valueList.includes("@viewModel.NoneValueId"));
                noneValueSelectedElement.trigger("change");
                </text>
            }

            @if (!string.IsNullOrEmpty(viewModel.OtherValueId))
            {
                <text>
                var otherValueSelectedElement = $("#@(hiddenInputIdPrefix)_OtherValue_Selected");
                otherValueSelectedElement.val(valueList.includes("@viewModel.OtherValueId"));
                otherValueSelectedElement.trigger("change");
                </text>
            }
            });
        });
    })(jQuery);
</script>