@using Lombiq.ContentEditors.ViewModels

@{
    var viewModel = Model.ViewModel as EditorViewModel;

    const string DefaultBlockName = "textboxEditor";
    string BlockName = viewModel.BlockName ?? DefaultBlockName;

    var textboxAttributes = viewModel.BuildAttributes(new Dictionary<string, object>
    {
        { "class", "form-control textbox " + DefaultBlockName + "__textbox" }
    });

    var labelAttributes = new Dictionary<string, object>
    {
        { "class", "editorLabel " + DefaultBlockName + "__label" }
    };

    if (viewModel.Required)
    {
        textboxAttributes["required"] = true;
        textboxAttributes["class"] = textboxAttributes["class"] + " required";
        labelAttributes["class"] = labelAttributes["class"] + " required";
    }

    if (viewModel.Disabled)
    {
        textboxAttributes["disabled"] = true;
    }

    if (!string.IsNullOrEmpty(viewModel.Placeholder))
    {
        textboxAttributes["placeholder"] = viewModel.Placeholder;
    }
}

<div class="editor editorField form-group @DefaultBlockName @BlockName">
    @if (!string.IsNullOrEmpty(viewModel.Label))
    {
        @Html.Label(viewModel.Name, viewModel.Label, labelAttributes)
    }
    @if (!string.IsNullOrEmpty(viewModel.Hint))
    {
        <div class="editorHint @(DefaultBlockName)__editorHint">@viewModel.Hint</div>
    }
    @Html.TextBox(viewModel.Name, viewModel.Value, textboxAttributes)
</div>