@using Lombiq.ContentEditors.ViewModels

@{
    var viewModel = Model.ViewModel as BoolEditorViewModel;
    var value = (viewModel.Value as bool?) ?? false;
    var label = viewModel.Label;
    const string DefaultBlockName = "toggleBoolEditor";
    var BlockName = viewModel.BlockName ?? DefaultBlockName;

    var BooleanFieldElementName = BlockName + "__booleanField";


    var toggleAttributes = viewModel.BuildAttributes(new Dictionary<string, object>
    {
        { "class", DefaultBlockName + "__toggle" }
    });

    var checkboxContainerDiv = Tag(Model, "div");
    checkboxContainerDiv.MergeAttributes(toggleAttributes);
}

<div class="editor form-group @BlockName">
    @checkboxContainerDiv.StartElement
        @if (!string.IsNullOrEmpty(label))
        {
            <label class="@(BooleanFieldElementName)Label" for="@viewModel.Id">@label</label>
        }
        <input id="@viewModel.Id" class="@BooleanFieldElementName" type="checkbox" name="@viewModel.Name" value="@Json.Encode(value)" @(value ? "checked=checked" : "") @if (viewModel.Disabled) { <text> disabled="disabled" </text> }/>
    @checkboxContainerDiv.EndElement
</div>

<script type="text/javascript">
    ; (function ($) {
        $(function () {
            $(".@BlockName").lombiq_BoolEditor({
                renderMode: "@viewModel.RenderMode",
                toggleSettings: {
                    booleanFieldClass: ".@BooleanFieldElementName",
                    textTrue: "@viewModel.TextTrue.Text",
                    textFalse: "@viewModel.TextFalse.Text"
                }
            });
        });
    })(jQuery);
</script>
