@using Orchard.ContentManagement
@using Lombiq.EditorGroups.Constants
@using Lombiq.EditorGroups.Models

@{
    var contentItem = Model.ContentItem as ContentItem;
    var asyncEditorPart = contentItem?.As<AsyncEditorPart>();

    if (asyncEditorPart == null)
    {
        return;
    }

    var editUrl = Url.Action("Edit", "AsyncEditor", new { Area = "Lombiq.EditorGroups" });

    const string BlockName = "asyncEditorLoader";
    const string ProcessingIndicatorElementName = BlockName + "__processingIndicator";
    const string EditorPlaceholderElementName = BlockName + "__editor";

    string AsyncEditorLoaderElementId = "editorFor" + contentItem.ContentType;
}

@Display.Lombiq_AsyncEditorLoader_Resources()

<div id="@AsyncEditorLoaderElementId" class="@BlockName js-@BlockName">
    <div class="@ProcessingIndicatorElementName js-@ProcessingIndicatorElementName" hidden>@T("Processing...")</div>
    <div class="@EditorPlaceholderElementName js-@EditorPlaceholderElementName" hidden></div>
</div>


<script type="text/javascript">
    ; (function ($) {
        $(function () {
            console.log("BEFORE INIT @AsyncEditorLoaderElementId");

            $("#@AsyncEditorLoaderElementId").lombiq_AsyncEditor({
                asyncEditorApiUrl: "@editUrl",
                contentType: "@contentItem.ContentType",
                contentItemId: @contentItem.Id,
                editorGroupName: "@(asyncEditorPart.CurrentEditorGroup?.Name ?? asyncEditorPart.AuthorizedEditorGroups.FirstOrDefault()?.Name)",
                asyncEditorLoaderElementClass: ".js-@BlockName",
                processingIndicatorElementClass: ".js-@ProcessingIndicatorElementName",
                editorPlaceholderElementClass: ".js-@EditorPlaceholderElementName",
                loadEditorActionElementClass: ".js-@ElementNames.AsyncEditorActions.LoadEditorElementName",
                postEditorActionElementClass: ".js-@ElementNames.AsyncEditorActions.PostEditorElementName",
            });
        });
    })(jQuery);
</script>