@using Lombiq.ContentEditors.ViewModels
@using Lombiq.ContentEditors.Constants
@using Orchard.Localization.Services
@using Orchard.Localization.Models

@{
    Style.Require(ResourceNames.Lombiq_Editors_DateTimeEditor);

    Script.Require(ResourceNames.Lombiq_Editors_DateTimeEditor).AtHead();

    var viewModel = Model.ViewModel as DateTimeEditorViewModel;

    if (viewModel.EditorType == DateTimeEditorType.Time)
    {
        Script.Require(ResourceNames.jQueryTimeEntry).AtHead();
    }

    var isDateEditor = viewModel.EditorType == DateTimeEditorType.Date ||
        viewModel.EditorType == DateTimeEditorType.DateWithTimeZoneConversion;

    var classifiedName = Html.ClassifiedName(viewModel.Name);
    var hiddenFieldClassName = "js-" + classifiedName + "-value";
    var editorType = isDateEditor ? "text" : "time";

    const string DefaultBlockName = "dateTimeEditor";
    string BlockName = viewModel.BlockName ?? DefaultBlockName;
    const string DateTimePickerContainerElementName = DefaultBlockName + "__dateTimePickerContainer";

    var editorTypeClass = isDateEditor ? "datePicker" : "timePicker";

    var dateTimePickerAttributes = viewModel.BuildAttributes(new Dictionary<string, object>
    {
        { "type", editorType },
        { "class", $"form-control {editorTypeClass} {DefaultBlockName}__{editorTypeClass} {classifiedName}" }
    });

    var labelAttributes = new Dictionary<string, object>
    {
        { "class", "editorLabel " + DefaultBlockName + "__label" }
    };

    if (viewModel.Required)
    {
        dateTimePickerAttributes["required"] = true;
        dateTimePickerAttributes["class"] = dateTimePickerAttributes["class"] + " required";
        labelAttributes["class"] = labelAttributes["class"] + " required";
    }

    if (!string.IsNullOrEmpty(viewModel.Placeholder))
    {
        dateTimePickerAttributes["placeholder"] = viewModel.Placeholder;
    }

    var dateLocalizationServices = WorkContext.Resolve<IDateLocalizationServices>();
    var options = new DateLocalizationOptions
    {
        EnableTimeZoneConversion = viewModel.EditorType == DateTimeEditorType.Time ||
            viewModel.EditorType == DateTimeEditorType.DateWithTimeZoneConversion,
        EnableCalendarConversion = viewModel.EditorType == DateTimeEditorType.Date,
        IgnoreDate = viewModel.EditorType == DateTimeEditorType.Time
    };

    var frontEndDisplayFormat = isDateEditor ? viewModel.FrontEndDateDisplayFormat : "HH:mm";
    var frontEndStoreFormat = isDateEditor ? viewModel.FrontEndDateStoreFormat : "HH:mm";

    // Assume that the given value is a string and properly formatted.
    var dateTimeString = viewModel.Value as string;

    // If the value is not string then assume that it is a DateTime object. If so, format it.
    if (!string.IsNullOrEmpty(dateTimeString) && viewModel.Value is DateTime?)
    {
        var value = viewModel.Value as DateTime?;
        dateTimeString = value.HasValue && value.Value != default(DateTime) ?
            viewModel.Value is string ?
                (string)viewModel.Value :
                dateLocalizationServices.ConvertToLocalizedString(value, viewModel.DateFormat, options) :
            "";
    }

    var datePickerElement = new TagBuilder("input");
    foreach (var attribute in dateTimePickerAttributes)
    {
        datePickerElement.Attributes.Add(attribute.Key, attribute.Value.ToString());
    }
    datePickerElement.Attributes.Add("value", dateTimeString);
}

<div class="editor editorField form-group @DefaultBlockName @BlockName">
    @if (!string.IsNullOrEmpty(viewModel.Label))
    {
        @Html.Label(viewModel.Name, viewModel.Label, labelAttributes)
    }

    <div class="@DateTimePickerContainerElementName">
        @Html.Raw(datePickerElement.ToString(TagRenderMode.SelfClosing))
        @Html.Hidden(viewModel.Name, dateTimeString, new { @class = hiddenFieldClassName })
    </div>
</div>

@if (isDateEditor)
{
    <script type="text/javascript">
        ; (function ($) {
            $(function () {
                var dateTimeEditorPlugin = $(".@classifiedName").lombiq_Editors_DateTimeEditor({
                    dateTimeValueInputClassName: ".@hiddenFieldClassName",
                    dateDisplayFormat: "@frontEndDisplayFormat",
                    dateStoreFormat: "@frontEndStoreFormat",
                    errorMessages: {
                        invalidDateFormatErrorText: "@HttpUtility.JavaScriptStringEncode(T("Invalid date format given. Expected format: {0}", frontEndDisplayFormat).Text)",
                        valueIsGreaterThanMaximumText: "@HttpUtility.JavaScriptStringEncode(T("The given date is greater than the maximum date enabled to this field.").Text)",
                        valueIsSmallerThanMinimumText: "@HttpUtility.JavaScriptStringEncode(T("The given date is smaller than the maximum date enabled to this field.").Text)",
                    }
                })[0];
                
                $(".ui-datepicker").hide();
            });
        })(jQuery);
    </script>
}