@{
    Script.Require(Lombiq.ContentEditors.Constants.ResourceNames.jQueryUI);

    var title = Model.Title as string ?? "";
    var header = Model.Header as string ?? "";
    var body = Model.Body as string ?? "";
    var bodyShape = Model.BodyShape;
    var titleless = string.IsNullOrEmpty(title);
    var headerless = string.IsNullOrEmpty(header);
    var additionalAttributes = Model.AdditionalAttributes as IDictionary<string, object>;

    const string DefaultBlockName = "modal";
    var blockName = Model.BlockName as string ?? DefaultBlockName;
    var id = Model.Id as string ?? blockName;
}

<div id="@id" 
     class="@blockName js-@blockName @DefaultBlockName @(titleless ? $"{DefaultBlockName}_titleless" : "")" 
     hidden
     @if (additionalAttributes != null)
     {
         foreach (var attribute in additionalAttributes)
         {
             <text>
                @attribute.Key="@attribute.Value"
             </text>
         }
     }>
    @if (!titleless)
    {
        <div class="modalTitle @(blockName)__title">@Html.Raw(title)</div>
    }
    <div class="modalBody @(blockName)__body">
        @if (!headerless)
        {
            <p class="modalHeader @(DefaultBlockName)__header">@Html.Raw(header)</p>
        }

        @if (bodyShape == null)
        {
            @Html.Raw(body)
        }
        else
        {
            @Display(bodyShape)
        }
    </div>
</div>