@{
    Script.Require(Lombiq.ContentEditors.Constants.ResourceNames.jQueryUI);
    
    var header = Model.Header as string ?? "";
    var buttonShapes = Model.ButtonShapes as IEnumerable<dynamic> ?? Enumerable.Empty<dynamic>();
    var headerless = string.IsNullOrEmpty(header);

    const string DefaultBlockName = "modal";
    string BlockName = Model.BlockName as string ?? DefaultBlockName;
    var id = Model.Id as string ?? BlockName;
 }

@Display.Lombiq_Modal_Resources()

@Display.Lombiq_Modal_Content(
    Title: Model.Title,
    Body: Model.Body,
    BodyShape: Model.BodyShape,
    AdditionalAttributes: Model.AdditionalAttributes,
    BlockName: Model.BlockName,
    Id: Model.Id)

    <div class="modalBody @(DefaultBlockName)__body">
        @if (!headerless)
        {
            <p class="modalHeader @(DefaultBlockName)__header">@Html.Raw(header)</p>
        }
        @Html.Raw(body)
    </div>

<script type="text/javascript">
    ; (function ($) {
        $(function () {
            $("#@id").dialog({
                dialogClass: "@($"{BlockName}Container {DefaultBlockName}Container modalBorder")",
                width: "460px",
                closeOnEscape: true,
                modal: true,
                autoOpen: false,
                buttons: [
                    @foreach (var buttonShape in buttonShapes)
                    {
                        @Display(buttonShape)
                        @:,
                    }
                ],
                beforeClose: function () {
                    $(this).data("context", null);
                }
            });
        });
    })(jQuery);
</script>