@using Lombiq.ContentEditors.ViewModels

@{
    var viewModel = Model.ViewModel as EditorViewModel;
    var value = (viewModel.Value as bool?) ?? false;

    string BlockName = viewModel.BlockName ?? "checkboxEditor";

    var checkBoxAttributes = viewModel.BuildAttributes(new Dictionary<string, object>
    {
        { "class", "form-control textbox " + BlockName + "__checkbox" }
    });

    var labelAttributes = new Dictionary<string, object>
    {
        { "class", "editorLabel " + BlockName + "__label" }
    };

    if (viewModel.Required)
    {
        checkBoxAttributes["required"] = true;
        checkBoxAttributes["class"] = checkBoxAttributes["class"] + " required";
        labelAttributes["class"] = labelAttributes["class"] + " required";
    }

    if (!string.IsNullOrEmpty(viewModel.Placeholder))
    {
        checkBoxAttributes["placeholder"] = viewModel.Placeholder;
    }
}

<div class="editor editorField form-group @BlockName">
    @Html.CheckBox(viewModel.Name, value, checkBoxAttributes)
    @if (!string.IsNullOrEmpty(viewModel.Label))
    {
        @Html.Label(viewModel.Name, viewModel.Label, labelAttributes)
    }
    @if (!string.IsNullOrEmpty(viewModel.Hint))
    {
        <div class="editorHint @(BlockName)__editorHint">@viewModel.Hint</div>
    }
</div>