@using Lombiq.ContentEditors.ViewModels

@{
    var viewModel = Model.ViewModel as EditorViewModel;

    string BlockName = viewModel.BlockName ?? "dateTimeEditor";

    var dateTimePickerAttributes = viewModel.BuildAttributes(new Dictionary<string, object>
    {
        { "class", "form-control dateTimePicker " + BlockName + "__dateTimePicker" },
        { "type", "date" }
    });

    var labelAttributes = new Dictionary<string, object>
    {
        { "class", "editorLabel " + BlockName + "__label" }
    };

    if (viewModel.Required)
    {
        dateTimePickerAttributes["required"] = true;
        dateTimePickerAttributes["class"] = dateTimePickerAttributes["class"] + " required";
        labelAttributes["class"] = labelAttributes["class"] + " required";
    }

    if (!string.IsNullOrEmpty(viewModel.Placeholder))
    {
        dateTimePickerAttributes["placeholder"] = viewModel.Placeholder;
    }
}

<div class="editor editorField form-group @BlockName">
    @if (!string.IsNullOrEmpty(viewModel.Label))
    {
        @Html.Label(viewModel.Name, viewModel.Label, labelAttributes)
    }
    @if (!string.IsNullOrEmpty(viewModel.Hint))
    {
        <div class="editorHint @(BlockName)__editorHint">@viewModel.Hint</div>
    }
    @Html.TextBox(viewModel.Name, viewModel.Value, dateTimePickerAttributes)
</div>