@using Lombiq.ContentEditors.Constants
@using Lombiq.ContentEditors.ViewModels

@{
    var viewModel = Model.ViewModel as DropdownEditorViewModel;

    var hasParent = !string.IsNullOrEmpty(viewModel.ParentElementSelector);

    if (hasParent)
    {
        Script.Require(ResourceNames.Lombiq_ConnectedValueSelector);
    }

    const string DefaultBlockName = "taxonomyDropdownEditor";
    string BlockName = viewModel.BlockName ?? DefaultBlockName;

    var dropdownAttributes = viewModel.BuildAttributes(new Dictionary<string, object>
    {
        { "class", "form-control dropdown " + DefaultBlockName + "__dropdown" }
    });

    var labelAttributes = new Dictionary<string, object>
    {
        { "class", "editorLabel " + DefaultBlockName + "__label" }
    };

    if (viewModel.Required)
    {
        dropdownAttributes["required"] = true;
        dropdownAttributes["class"] = dropdownAttributes["class"] + " required";
        labelAttributes["class"] = labelAttributes["class"] + " required";
    }

    if (!string.IsNullOrEmpty(viewModel.Placeholder))
    {
        dropdownAttributes["placeholder"] = viewModel.Placeholder;
    }

    if (viewModel.HasDefaultEmptyValue)
    {
        if (string.IsNullOrEmpty(viewModel.DefaultEmptyValue))
        {
            viewModel.DefaultEmptyValue = "0";
        }

        viewModel.SelectList.Insert(0, new SelectListItem
        {
            Text = "",
            Value = viewModel.DefaultEmptyValue,
            Selected = !viewModel.SelectList.Any(selectListItem => selectListItem.Selected)
        });
    }

    viewModel.SortSelectListByText();
}

<div class="editor editorField form-group @DefaultBlockName @BlockName">
    @if (!string.IsNullOrEmpty(viewModel.Label))
    {
        @Html.Label(viewModel.Label, labelAttributes)
    }

    <div class="@(DefaultBlockName)__selectContainer">
        @Html.DropDownList(viewModel.Name, viewModel.SelectList, dropdownAttributes)
    </div>

    @if (viewModel.HasDefaultEmptyValue)
    {
        viewModel.SelectList.RemoveAt(0);
    }

    @for (int i = 0; i < viewModel.SelectList.Count; i++)
    {
        @Html.Hidden($"Terms[{i}].Id", viewModel.SelectList[i].Value)
    }
</div>


@if (hasParent)
{
    <script type="text/javascript">
        ; (function ($) {
            $(function () {
                $("select[name='@(ViewData.TemplateInfo.HtmlFieldPrefix + "." + viewModel.Name)']").lombiq_ConnectedValueSelector({
                    parentElementSelector: "@viewModel.ParentElementSelector",
                    valueHierarchy: @Html.Raw(Json.Encode(viewModel.ParentElementValueHierarchy)),
                    hasDefaultEmptyValue: @viewModel.HasDefaultEmptyValue.ToString().ToLower(),
                    defaultEmptyValue: '0'
                });
            });
        })(jQuery);
    </script>
}