@{
    Script.Require(Lombiq.ContentEditors.Constants.ResourceNames.jQueryUI);

    var title = Model.Title as string ?? "";
    var body = Model.Body as string ?? "";
    var buttonShapes = Model.ButtonShapes as IEnumerable<dynamic> ?? Enumerable.Empty<dynamic>();
    var titleless = string.IsNullOrEmpty(title);

    const string DefaultBlockName = "modal";
    string BlockName = Model.BlockName as string ?? DefaultBlockName;
    var id = Model.Id as string ?? BlockName;

    const string ModalContainerName = DefaultBlockName + "Container";
}

@Display.Lombiq_Modal_Resources()

<div id="@id" class="@BlockName js-@BlockName @DefaultBlockName @(titleless ? $"{DefaultBlockName}_titleless" : "")" hidden>
    @if (!titleless)
    {
        <h1 class="modalTitle @(DefaultBlockName)__title">@Html.Raw(title)</h1>
    }
    <div class="modalBody @(DefaultBlockName)__body">@Html.Raw(body)</div>
</div>

<script type="text/javascript">
    ; (function ($) {
        $(function () {
            $("#@id").dialog({
                dialogClass: "@ModalContainerName",
                width: "460px",
                closeOnEscape: true,
                modal: true,
                autoOpen: false,
                buttons: [
                    @foreach (var buttonShape in buttonShapes)
                    {
                        @Display(buttonShape)
                        @:,
                    }
                ],
                beforeClose: function () {
                    $(this).data("context", null);
                }
            });
        });
    })(jQuery);
</script>