@{
    Script.Require(Lombiq.ContentEditors.Constants.ResourceNames.jQueryUI);

    var title = Model.Title as string ?? "";
    var header = Model.Header as string ?? "";
    var body = Model.Body as string ?? "";
    var buttonShapes = Model.ButtonShapes as IEnumerable<dynamic> ?? Enumerable.Empty<dynamic>();
    var titleless = string.IsNullOrEmpty(title);
    var headerless = string.IsNullOrEmpty(header);

    const string DefaultBlockName = "modal";
    string BlockName = Model.BlockName as string ?? DefaultBlockName;
    var id = Model.Id as string ?? BlockName;

    string ModalContainerName = headerless ? DefaultBlockName + "Container" : DefaultBlockName + "Container" + " modalBorder";
}

@Display.Lombiq_Modal_Resources()

<div id="@id" class="@BlockName js-@BlockName @DefaultBlockName @(titleless ? $"{DefaultBlockName}_titleless" : "")" hidden>
    @if (!titleless)
    {
        <h1 class="modalTitle @(DefaultBlockName)__title">@Html.Raw(title)</h1>
    }
   
     <div class="modalBody @(DefaultBlockName)__body">
        @if (!headerless)
         {
             <p class="modalHeader @(DefaultBlockName)__header">@Html.Raw(header)</p>
         }
         @Html.Raw(body)
     </div>
</div>

<script type="text/javascript">
    ; (function ($) {
        $(function () {
            $("#@id").dialog({
                dialogClass: "@ModalContainerName",
                width: "460px",
                closeOnEscape: true,
                modal: true,
                autoOpen: false,
                buttons: [
                    @foreach (var buttonShape in buttonShapes)
                    {
                        @Display(buttonShape)
                        @:,
                    }
                ],
                beforeClose: function () {
                    $(this).data("context", null);
                }
            });
        });
    })(jQuery);
</script>