@using Lombiq.ContentEditors.ViewModels

@{
    var viewModel = Model.ViewModel as BoolEditorViewModel;
    var value = (viewModel.Value as bool?) ?? false;
    const string DefaultBlockName = "toggleBoolEditor";
    var BlockName = viewModel.BlockName ?? DefaultBlockName;

    var BooleanFieldElementName = BlockName + "__booleanField";
    

    var toggleAttributes = viewModel.BuildAttributes(new Dictionary<string, object>
    {
        { "class", DefaultBlockName + "__toggle" }
    });

    var expandableContainerDiv = Tag(Model, "div");
    expandableContainerDiv.MergeAttributes(toggleAttributes);
}

<div class="editor form-group @BlockName">
    @expandableContainerDiv.StartElement
        <input class="@BooleanFieldElementName" type="checkbox" name="@viewModel.Name" value="@Json.Encode(value)" @(value ? "checked=checked" : "") />
    @expandableContainerDiv.EndElement
</div>

<script type="text/javascript">
    ; (function ($) {
        $(function () {
            $(".@BlockName").lombiq_BoolEditor({
                renderMode: "@viewModel.RenderMode",
                toggleSettings: {
                    booleanFieldClass: ".@BooleanFieldElementName"
                }
            });
        });
    })(jQuery);
</script>
