@using Lombiq.ContentEditors.ViewModels

@{
    var viewModel = Model.ViewModel as CheckboxEditorViewModel;

    const string DefaultBlockName = "checkboxEditor";
    string BlockName = viewModel.BlockName ?? DefaultBlockName;
}

<div class="editor form-group @DefaultBlockName @BlockName">
    <label class="@(DefaultBlockName)__label @if (viewModel.Required) { <text>required</text> }">
        @viewModel.Label
        <input hidden type="checkbox" name="@viewModel.Name" value="@viewModel.Value" class="@(DefaultBlockName)__input"
               @if (viewModel.Checked) { <text> checked</text> } @if (viewModel.Required) { <text> required</text> } />
        <span class="@(DefaultBlockName)__indicator"></span>
    </label>

    @if (!string.IsNullOrEmpty(viewModel.Hint))
    {
        <div class="editorHint @(DefaultBlockName)__editorHint">@viewModel.Hint</div>
    }
</div>