@using Lombiq.ContentEditors.ViewModels
@using Lombiq.ContentEditors.Constants
@using Lombiq.ContentEditors.Extensions
@using Orchard.Services

@{
    Script.Require(ResourceNames.Selectize).AtHead();
    Style.Require(ResourceNames.Selectize).AtHead();

    var viewModel = Model.ViewModel as DropdownEditorViewModel;

    if (!viewModel?.SelectList?.Any() ?? true) { return; }

    const string DefaultBlockName = "selectizeDropdownEditor";
    string BlockName = viewModel.BlockName ?? DefaultBlockName;
    const string TextBoxElementName = DefaultBlockName + "__textbox";
    string TechnicalNameModifier = string.IsNullOrEmpty(viewModel.TechnicalName) ? "" : "_" + viewModel.TechnicalName.Replace('.', '_');

    var selectizeInputId = DefaultBlockName + "__SelectizeInput" + TechnicalNameModifier;

    var attributes = new Dictionary<string, object>
    {
        { "class", TextBoxElementName },
        { "id", selectizeInputId }
    };

    var labelAttributes = new Dictionary<string, object>
    {
        { "class", "editorLabel textboxEditor__label " + DefaultBlockName + "__label" },
        { "for", selectizeInputId }
    };

    if (!string.IsNullOrEmpty(viewModel.Placeholder))
    {
        attributes.Add("placeholder", viewModel.Placeholder);
    }

    var jsonConverter = WorkContext.Resolve<IJsonConverter>();
    var selectedOptions = viewModel.SelectList.Where(option => option.Selected);

    var options = new Dictionary<string, object>
    {
        { "maxItems", viewModel.SingleChoice ? "1" : null }
    };

    viewModel.SelectList = viewModel.SelectList.OrderListValues(viewModel.OrderBy);

    viewModel.SelectList.MoveIfItemByTextIsAvailable(viewModel.FirstValueText, 0);
    viewModel.SelectList.MoveIfItemByTextIsAvailable(viewModel.LastValueText, viewModel.SelectList.Count);
}

<div class="editor editorField form-group @DefaultBlockName @BlockName">
    @if (!string.IsNullOrEmpty(viewModel.Label))
    {
        @Html.Label(viewModel.Label, labelAttributes)
    }

    @Html.TextBox(viewModel.TechnicalName, "", attributes)
</div>

<script type="text/javascript">
    ; (function ($) {
        $(function () {
            @* Initializing selectize on input field. *@
            var $selectizeElement = $("#@selectizeInputId")
                .selectize(JSON.parse(@Html.Raw(Json.Encode(jsonConverter.Serialize(options)))))[0]
                .selectize;

            var options = JSON.parse(@Html.Raw(Json.Encode(jsonConverter.Serialize(viewModel.SelectList))));
            for (var i = 0; i < options.length; i++) {
                $selectizeElement.addOption({ value: options[i].Value, text: options[i].Text });
            }

            @if (selectedOptions.Any())
            {
                <text>
                var selectedOptions = JSON.parse(@Html.Raw(Json.Encode(jsonConverter.Serialize(selectedOptions))));
                for (var i = 0; i < selectedOptions.length; i++) {
                    $selectizeElement.addItem(selectedOptions[i].Value);
                }
                </text>
            }
        });
    })(jQuery);
</script>