@using Lombiq.ContentEditors.Constants

@{
    Script.Require(ResourceNames.jQueryUI);
    Script.Require(ResourceNames.Lombiq_Modal);

    var title = Model.Title as string ?? "";
    var header = Model.Header as string ?? "";
    var body = Model.Body as string ?? "";
    var bodyShape = Model.BodyShape;
    var titleless = string.IsNullOrEmpty(title);
    var headerless = string.IsNullOrEmpty(header);
    var showCloseButton = Model.ShowCloseButton as bool? ?? false;
    var additionalAttributes = Model.AdditionalAttributes as IDictionary<string, object>;
    var additionalClasses = Model.AdditionalClasses as string ?? "";

    const string DefaultBlockName = "modal";
    var blockName = Model.BlockName as string ?? DefaultBlockName;
    var id = Model.Id as string ?? blockName;
}

<div id="@id"
     class="@blockName js-@blockName @DefaultBlockName @(titleless ? $"{DefaultBlockName}_titleless" : "") @additionalClasses"
     hidden
     @if (additionalAttributes != null)
     {
         foreach (var attribute in additionalAttributes)
         {
             <text>
                @attribute.Key="@attribute.Value"
             </text>
         }
     }>
     @if (!titleless)
     {
         <div class="modalTitle @(blockName)__title">@Html.Raw(title)</div>
     }
     <div class="modalBody @(blockName)__body">
         @if (!headerless)
         {
             <p class="modalHeader @(DefaultBlockName)__header">@Html.Raw(header)</p>
         }
     
         @if (showCloseButton == true)
         {
             <div class="modalCloseButton @(DefaultBlockName)__closeButton">@T("Close")</div>
         }
     
         @if (bodyShape == null)
         {
             @Html.Raw(body)
         }
         else
         {
             @Display(bodyShape)
         }
     </div>
</div>